* {
	font-family: Helvetica, sans-serif, 'monog';
	white-space: nowrap;
	letter-spacing: 0.07em;
}

body {
	padding: 0px;
	margin: 0px;
}

#error {
	position: absolute;
	background-color: red;
	width: 100%;
	height: 100px;
	display: none;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	font-weight: 900;
}

@font-face {
	font-family: 'monog';
	src: url('fu.ttf') format('truetype');
}

#q1 {
	background-color: #E1E2E1;
	display: flex;
	width: 15%;
	height: 100%;
	flex-direction: column;
	min-width: 200px;
}

#q2 {
	background-color: blue;
	display: flex;
	width: 85%;
	height: 100%;
	flex-direction: column;
}

#e1 {
	display: flex;
	background-color: #E1E2E1;
	flex-direction: row;
	width: 100%;
	height: 25px;
	justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-end;
	flex-wrap: wrap;
}

#r {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 90%;
	background-color: #E1E2E1;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
}

.rc {
	color: darkgray;
	display: flex;
	width: 150px;
	height: 100%;
	justify-content: flex-end;
	align-items: center;
	border: solid;
	border-width: thin;
	border-top-right-radius: 15px;
	background-color: #cccccc;
	margin-right: 2px;
	padding-right: 12px;
	border-color: black;
}

.sp_pest {
	cursor: pointer;
}

.rc.active {
	background-color: #2574A9;
	color: white;
}

#e2 {
	border-top: solid;
	border-left: solid;
	border-width: thin;
	display: flex;
	background-color: ghostwhite;
	flex-direction: row;
	width: 100%;
	height: calc(100% - 25px);
	justify-content: center;
	align-items: center;
}

.bot_pes {
	cursor: pointer;
	color: black;
}

.programa {
	display: none;
	background-color: ghostwhite;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.programa.active {
	display: flex !important;
}

#o1 {
	display: flex;
	background-color: ghostwhite;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#o2 {
	display: flex;
	background-color: ghostwhite;
	flex-direction: row;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.logo {
	width: 150px
}

.buscador {
	width: 90%;
}

#w1 {
	display: flex;
	background-color: #E1E2E1;
	flex-direction: column;
	width: 100%;
	height: 20%;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

#w2 {
	display: flex;
	background-color: #E1E2E1;
	flex-direction: column;
	width: 100%;
	height: 70%;
}

#w2 hr,
#w3 hr {
	width: 100%;
}

#w3 {
	display: flex;
	background-color: #E1E2E1;
	flex-direction: column;
	width: 100%;
	height: 10%;
}

#p1 {
	display: flex;
	background-color: ghostwhite;
	width: 100%;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	align-items: center;
}

#p2 {
	display: none;
	background-color: ghostwhite;
	width: 100%;
	height: 100%;
}

#menu_bus {
	display: none;
}

input {
	border: 1px solid #d1d1d1;
	font: bold 12px;
	color: black;
	padding: 6px 6px 6px 16px;
	margin: 10px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

input:focus {
	outline: none;
}

button {
	color: white;
	padding: 10px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	background: #2574A9;
}

button:hover {
	opacity: 0.8;
}

.imgcontainer {
	text-align: center;
	overflow: hidden;
}

img.avatar {
	width: 100px;
}

#fo1 {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	width: 400px;
	height: 400px;
	background-color: #E1E2E1;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	
  border-color: black;
  border: solid 1px;
}

#fo1:hover {
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center
}

.li_ca,
.li_de {
	list-style-type: none;
	margin: 1px;
	cursor: pointer;
	padding-left: 2px;
	border: solid 1px;
	border-color: #E1E2E1;
	margin-bottom: 5px;
}

.li_de:hover {
	background-color: #2574A9 !important;
	border-radius: 20px;
	color: white;
	border: solid 1px;
	border-color: black;
}

.li_de.tit:hover {
	background-color: #E1E2E1 !important;
}

.li_de.tit {
	color: darkgray;
	cursor: default;
	border-color: #E1E2E1;
}

.frame {
	width: 100%;
	height: 100%;
	border: none;
}

#con_menu {
	overflow-y: auto;
}


/* width */

 ::-webkit-scrollbar {
	width: 10px;
}


/* Track */

 ::-webkit-scrollbar-track {
	background: white;
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
	background: gray;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
	background: darkgray;
}


.noselect{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


/* pantallas de 20 pulgadas o menos */

@media (max-height: 850px) {

	.logo{
		width: 50px;
	}

	#w2{
		height: 70%;
	}

	#menu_ca{
		font-size: 13px;
	}



  }